<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Fundamentals</title>
</head>
<body>
<h1 align="center">Hello World !!</h1>
<p> Agora são {{ now }} </p>
<ul>
{% for transacao in transacoes %}
    {% if transacao == 't1' %}
    <li><h1>{{ transacao }}</h1></li>
    {% else %}
    <li>{{ transacao }}</li>
    {% endif %}
{% endfor %}
</ul>
</body>
</html>